<!-- Main hero unit for a primary marketing message or call to action -->    
<div id="container" class="hero-unit">
  <h1>Hello!</h1>
  <h2>Here&rsquo;s how to get rolling:</h2>  
  
  <div>
    <h4>Use this app to take control off your business stock</h2>
    <p>Manage the warehouse with ease</p>
    <p>Manage the stock cicle</p>
    <p>Manage the buying proccess</p>
  </div>
  
</div>
<div class="row"> 
  <div class="span3">                               
    <h4>Use sales watcher to take control of your sells team</h2>
    <p>Manage the product sales</p>
    <p>Manage the product prices for max rentability</p>                                                                
  </div>

  <div class="span3">                               
    <h4>Use sales advisor to head the market share</h2>
    <p>Know your break even point of products</p>
    <p>Know your direct and indirect associated costs to each product</p>
    <p>Know more your suppliers</p>     
    <p>Manage the minimum and maximum stock levels</p>    
  </div>
</div>