<div id="sidebar">
  <ul id="sidebar-items">
    <li>
      <h3>Browse the app</h3>
      <ul class="links">                                                                 
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "Products", :controller => "products", :action => "index" %></li>
      </ul>
    </li>
  </ul>
</div>